<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MobileSiteDatabaseConnectionString" connectionString="Data Source=AMIR\SQLEXPRESS;Initial Catalog=MobileSiteDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MobileSiteDataLayer.Properties.Settings.MobileSiteDatabaseConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MobileSiteDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MobileSiteDataLayer.Properties.Settings.MobileSiteDatabaseConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=MobileSiteDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MobileSiteDataLayer.Properties.Settings.MobileSiteDatabaseConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=MobileSiteDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MobileSiteDataLayer.Properties.Settings.MobileWebsiteConnectionString"
            connectionString="Data Source=BT_FRESHER2\SQL2017;Initial Catalog=MobileWebsite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MobileSiteDataLayer.Properties.Settings.MobileSiteDatabaseConnectionString3"
            connectionString="Data Source=AMIR\SQLEXPRESS;Initial Catalog=MobileSiteDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>