
@{
    ViewBag.Title = "Order";
}

<section>
    <div class=" container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-lg-3 col-xs-12">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
   </div>
</section>

